<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">Madrid1809</property>
        <property name="hibernate.connection.url">jdbc:mysql://85.214.108.235:3306/Ximds_EvilCorp</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="com.run4sky.beans1.ConnectionLogs"/>
        <mapping class="com.run4sky.beans1.ClienService"/>
        <mapping class="com.run4sky.beans1.ExternalDisp"/>
        <mapping class="com.run4sky.beans1.InsernalService"/>
        <mapping class="com.run4sky.beans1.SecureDisp"/>
        <mapping class="com.run4sky.beans1.ClientLocation"/>
        <mapping class="com.run4sky.beans1.Client"/>
        <mapping class="com.run4sky.beans1.DispLocation"/>
    </session-factory>
</hibernate-configuration>
